---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_MAP_API_KEY>&q=Chicago,IL,US&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-87.65,"lat":41.85},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":4.11,"feels_like":-0.89,"temp_min":3.33,"temp_max":5.3,"pressure":1024,"humidity":72},"visibility":10000,"wind":{"speed":7.72,"deg":10,"gust":13.38},"clouds":{"all":100},"dt":1713966600,"sys":{"type":2,"id":2010190,"country":"US","sunrise":1713956143,"sunset":1714005674},"timezone":-18000,"id":4887398,"name":"Chicago","cod":200}'
  recorded_at: Wed, 24 Apr 2024 13:50:21 GMT
recorded_with: VCR 6.2.0
